<mat-card class="employee">
  <mat-card-header>
    <mat-card-title>{{employee.lastName}}, {{employee.firstName}}</mat-card-title>
    <mat-card-subtitle>{{employee.id}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="employee.directReports">Direct Reports: {{employee.directReports.length - 1}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="employee.directReports">Total Reports: </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Job Title</dt>
      <dd>{{employee.position}}</dd>
      <dt>Compensation</dt>
      <dd>{{employee.compensation}}</dd>
    </dl>

  </mat-card-content>

  <button mat-raised-button color="primary" (click)="openDialogEdit($event,employee)">Edit</button>
  <button mat-raised-button color="warn" (click)="openDialogDelete($event,employee)">Delete</button>
</mat-card>
